.stack > * + * {
  margin-top: var(--flow-space);
}

.stack-large > * + * {
  margin-top: var(--s5);
}

.box {
  padding: var(--pad, var(--s3));
}

.cluster {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--pad, var(--s1));
  row-gap: var(--flow-space);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--pad, var(--s1));
  row-gap: var(--flow-space);

  & > * {
    flex: 1 1 var(--column, auto);
  }
}

.switcher {
  --bp: 48rem;

  display: flex;
  flex-wrap: wrap;
  column-gap: var(--pad, var(--s1));
  row-gap: var(--flow-space);

  & > * {
    flex-grow: 1;
    flex-basis: calc((var(--bp) - 100%) * 999);
  }

  & > :nth-last-child(n + 3),
  & > :nth-last-child(n + 3) ~ * {
    flex-basis: 100%;
  }
}

.frame {
  padding-bottom: calc(var(--w) / var(--h) * 100%);
  position: relative;
}

.frame > * {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame > img,
.frame > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--s2);
  padding-right: var(--s2);
  max-width: var(--measure, none);
}
