body {
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: "Roboto Condensed", sans-serif;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  line-height: 1.2;
}

h1,
.h1 {
  text-transform: uppercase;
  font-size: var(--s4);
}

h2,
.h2 {
  text-transform: uppercase;
  font-size: var(--s3);
}

h3,
.h3 {
  font-size: var(--s2);
}

p {
  font-size: var(--font-size, var(--s0));
}
