<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    {% include "../partials/meta.njk" %}

    {# Styles #}
    <link rel="preload" as="style" href="/css/lite-yt.css"/>
    <link rel="preload" as="style" href="/css/styles.css"/>
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/fonts/robotocondensed-bold.woff2"/>
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/fonts/sourcesanspro-regular.woff2"/>

    <link rel="stylesheet" href="/css/lite-yt.css"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>

    <script>
      document
        .documentElement
        .classList
        .remove("no-js")
    </script>
    <script src="/js/main.js" defer></script>
    <script src="/js/lite-yt.js" defer></script>
  </head>
  <body>
    {# -- Header + main content -- #}
    {% block content %}{% endblock %}

    {# -- Footer -- #}
    {% include "../partials/footer.njk" %}
  </body>
</html>