{% extends "./base.njk" %}

{% block content %}
  {% include "../partials/header.njk" %}
  <main class="{{ title | slugify }}">
    {% include "../partials/banner.njk" %}
    {{ content | safe }}
  </main>
{% endblock %}