// For local/page-specific styling

// HOMEPAGE
// -----------

.logos {
  &.grid {
    align-items: center;
    justify-content: center;
    & > * {
      flex-grow: 0;
    }
  }
}

// WHO-WE-ARE
// -----------

.who-we-are {
  img {
    aspect-ratio: 1/1;
  }

  .interns,
  .facilitators {
    picture {
      max-width: 15rem;
      max-height: 15rem;
    }
  }
}

// OUR-STUDENTS
// -----------
.students {
  gap: var(--s2);
  padding-bottom: var(--s2);
}

// CONTACT
// -----------
.contact {
  padding-top: var(--s2);
  padding-bottom: var(--s2);

  label[for="volunteer"],
  #volunteer-options {
    cursor: pointer;
  }

  #volunteer-options[data-is-volunteer="no"] {
    display: none;
  }

  #volunteer-options[data-is-volunteer="yes"] {
    display: block;
  }
}

.no-js form {
  display: none;
}
