nav {
  align-items: baseline;
  word-break: break-word;

  ul {
    font-size: var(--s0);
    gap: var(--s-2) var(--s-1);
    margin: 0;
    padding: 0;
  }

  .active {
    border-bottom: 2px solid var(--theme-color);
  }

  .nav__buttons {
    gap: var(--s-2);
  }
}
