nav {
  align-items: baseline;
  word-break: break-word;

  a:not(.active) {
    border: none;
  }

  ul {
    font-size: var(--s0);
    gap: var(--s-2) var(--s-1);
    margin: 0;
    padding: 0;
  }

  .nav__buttons {
    gap: var(--s-2);
  }
}
