read-more {
  display: block;

  .read-more__button {
    --flow-space: var(--s-1);

    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    text-decoration: underline;
  }

  &:not(.expanded) {
    *:first-child {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      overflow: hidden;
    }

    * + *:not(.read-more__button) {
      display: none;
    }
  }
}
