---
layout: layouts/homepage
title: Home
image: /images/kakuma.jpg
imageText: Providing access to higher education for high school graduates in the Kakuma Refugee Camp.
---

<section class="section wrapper stack" style="--measure: var(--max-inner-width);">
  <p style="--font-size: var(--s1);">Elimisha Kakuma is a program that provides access to higher education opportunities for high school graduates in Kakuma Refugee Camp in Kenya. Students receive intensive academic instruction,exam preparation, mentorship with current college students, and guidance through the college application process. As more refugees gain access to higher education, their long-term life outcomes will be improved and their communities will be strengthened.
  </p>
  <lite-youtube videoid="n7H2kk-46gU" style="max-width: unset; background-image: url('/images/bahome.png');">
    <button type="button" class="lty-playbtn">
      <span class="lyt-visually-hidden">Play Video: Welcome to Elimisha Kakuma</span>
    </button>
  </lite-youtube>
</section>

<section class="section dark">
  <div class="grid wrapper bleed">
    <div class="stack">
      <h2>Bridging the Education Gap</h2>
      <p>Kenya’s Kakuma Refugee Camp was established in 1992 with the arrival of the "Lost Boys of Sudan," who were fleeing civil war. What was meant to be a temporary refuge has become a permanent settlement of over 160,000 refugees.  In Kakuma, education offers children an escape from a difficult reality.  But more importantly, a decent education creates a pathway to opportunities for children and their families. However, as students get older, access to higher education becomes all but unattainable.</p>
      <p class="h3">
        <strong>Elimisha Kakuma wants to change that.</strong>
      </p>
      <button class="button text-grow-1">
        <a href="/our-program">Learn more</a>
      </button>
    </div>
    {% image "/images/class-2.jpeg",
    "A group photo of the Elimisha Kakuma students." %}
  </div>
</section>

<section class="section">
  <div class="wrapper stack" style="--measure: var(--max-inner-width);">
    <h3>Elimisha Kakuma Co-founder Mary Maker's TED Talk: "Why I fight for the education of refugee girls (like me)"</h3>
    <lite-youtube videoid="AEKy1AS75Zs" style="max-width: unset;">
      <button type="button" class="lty-playbtn">
        <span class="lyt-visually-hidden">Play Video: Why I fight for the education of refugee girls (like me) by Mary Maker</span>
      </button>
    </lite-youtube>
  </div>
</section>

<section class="section dark">
  <div class="stack wrapper" style="--measure: var(--max-inner-width);">
    <h2 class="text-align:center">Our Partners</h2>
    <div class="logos grid" style="--column: 30ch; --pad: calc(var(--s5) * 2);">
      <a href="https://www.unhcr.org/" rel="noreferrer" class="border-bottom:none">
        <span class="sr-only">Link to the United Nations High Commissioner for Refugees website.</span>
        {% include "./images/logos/unhcr-logo.svg" %}
      </a>
      <a href="https://liberalarts.vt.edu/research-centers/center-for-refugee-migrant-and-displacement-studies.html" rel="noreferrer" class="border-bottom:none">
        <span class="sr-only">Link to the Virginia Tech Center for Refugee, Migrant, and Displacement Studies website.</span>
        {% include "./images/logos/vt-logo.svg" %}
      </a>
    </div>
  </div>
</section>