---
layout: layouts/homepage
title: Home
image: /images/kakuma.jpg
imageText: Providing access to higher education for high school graduates in the Kakuma Refugee Camp.
---

<section class="section wrapper" style="--measure: var(--max-inner-width);">
  <p style="--font-size: var(--s1);">Elimisha Kakuma is a program that provides access to higher education opportunities for high school graduates in Kakuma Refugee Camp in Kenya. Students receive intensive academic instruction,exam preparation, mentorship with current college students, and guidance through the college application process. As more refugees gain access to higher education, their long-term life outcomes will be improved and their communities will be strengthened.
  </p>
</section>

<section class="section dark">
  <div class="grid wrapper bleed">
    <div class="stack">
      <h2>Bridging the Education Gap</h2>
      <p>Kenya’s Kakuma Refugee Camp was established in 1992 with the arrival of the "Lost Boys of Sudan," who were fleeing civil war. What was meant to be a temporary refuge has become a permanent settlement of over 160,000 refugees.  In Kakuma, education offers children an escape from a difficult reality.  But more importantly, a decent education creates a pathway to opportunities for children and their families. However, as students get older, access to higher education becomes all but unattainable.</p>
      <p class="h3">
        <strong>Elimisha Kakuma wants to change that.</strong>
      </p>
      <button class="button text-grow-1">
        <a href="/our-program">Learn more</a>
      </button>
    </div>
    {% image "/images/class-2.jpeg",
    "A group photo of the Elimisha Kakuma students." %}
  </div>
</section>

<section class="section">
  <div class="wrapper" style="--measure: var(--max-inner-width);">
    <div style="position:relative;height:0;padding-bottom:56.25%">
      <iframe style="position:absolute;left:0;top:0;width:100%;height:100%" src="https://www.youtube.com/embed/AEKy1AS75Zs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</section>

<section class="section dark">
  <div class="stack wrapper" style="--measure: var(--max-inner-width);">
    <h2 class="text-align:center">Our Partners</h2>
    <div class="logos grid" style="--column: 30ch; --pad: calc(var(--s5) * 2);">
      <a href="https://www.unhcr.org/" rel="noreferrer" class="border-bottom:none">
        {% include "./images/logos/unhcr-logo.svg" %}
      </a>
      <a href="https://liberalarts.vt.edu/research-centers/center-for-refugee-migrant-and-displacement-studies.html" rel="noreferrer" class="border-bottom:none">
        {% include "./images/logos/vt-logo.svg" %}
      </a>
    </div>
  </div>
</section>