---
layout: layouts/page
title: Our Students
---
<section class="students stack padding-bottom:var-pad" style="--measure: var(--max-inner-width); --pad: var(--s2);">
  <h2>Our Students</h2>
  <div class="grid" style="--column: 40ch; --pad: var(--s1);">
    {%- for student in students %}
      <div class="student stack" style="--w: 5; --h: 3;">
        {% set imagePath = [
          "/images/students/",
          (student.name | slug),
          ".jpeg"
        ] | join %}
        {% set altText = ["Headshot of ", student.name] | join %}

        {% image imagePath,
        altText,
        "frame" %}
        <h3>{{ student.name }}</h3>
        <div class="student__bio accordion stack">
          {{ student.bio | safe }}
          <button class="accordion__button">More [+]</button>
        </div>
      </div>
    {% endfor %}
  </div>
</section>