---
layout: layouts/page
title: Our Program
imagePath: /images/class-3.jpeg
imageAltText: "Kakuma students taking the SAT exam."
---

<section class="section wrapper stack" style="--measure: var(--max-width)">
  <h1>Our Program</h1>
  <p>
    Elimisha Kakuma ("Educate Kakuma" in Swahili) is an intensive
    university-preparatory program designed to provide opportunities for high
    school graduates in Kakuma Refugee Camp. The program will help students
    prepare for university-level content and apply for university scholarships,
    thereby making higher education accessible. Founded by Kakuma's own,
    Elimisha believes that when students are provided with access to higher
    education, they are more likely to create a larger impact by empowering
    families and changing communities for the better.
  </p>

  <p>
    Elimisha Kakuma will help students prepare for university-level content in
    English by using a blended method targeting proficiency in the four language
    domains (reading, writing, listening, and speaking) and later, TOEFL and SAT
    preparation. Students will study in both a virtual setting, with online
    assignments and classes, and an on-site setting where they will work
    together under the guidance of an on-the-ground facilitator who will provide
    technical and logistical support. Students will have access to a one-on-one
    mentorship network between our beneficiaries and current university
    students, including three of our co-founders who have lived in Kakuma.
  </p>
</section>

<section class="section dark wrapper grid">
  <div class="stack">
    <h2>Academic Preparation</h2>
    <p>
      Uses a blended method of learning targeting proficiency in the four
      language domains (reading, writing, listening, and speaking) and later,
      TOEFL and SAT preparation.
    </p>

    <p>
      Students will study in both a virtual setting, with online assignments and
      classes, and an on-site setting where they will work together under the
      guidance of an on-the-ground facilitator who will provide technical and
      logistical support.
    </p>
  </div>
  {% image "/images/class-4.jpg", "Students working in class."%}
</section>

<section class="section">
  <div class="wrapper grid">
    {% image "/images/community-2.jpeg",
    "A group photo of the Elimisha Kakuma
 students." %}
    <div class="stack">
      <h2>Community Building</h2>
      <ol>
        <li>
          Students will work together to support each other in improving
          academically and personally through the program.
        </li>
        <li>
          Students will work together to improve their communities through
          community service.
        </li>
      </ol>

      <h3>How:</h3>
      <ul>
        <li>
          Students will start and end every day as a group in solidarity,
          providing space and time to ground themselves, share highs and lows,
          and support each other.
        </li>
        <li>
          Students will have study groups, reading buddies, and opportunities to
          get to know each other better throughout the program.
        </li>
        <li>
          Students will serve their communities in activities such as supporting
          younger students in their studies, volunteering in hospitals, etc.
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="section dark">
  <div class="wrapper stack" style="--measure: var(--max-width)">
    <h2>Mentorship</h2>
    <p>
      Students will participate in one-on-one mentorships with current
      university students, including three of our co-founders who have lived in
      Kakuma.
    </p>

    <h3>How:</h3>
    <ul>
      <li>
        Students will receive coaching, guidance, and consistent meetings with
        his/her mentor.
      </li>
      <li>
        When students are overwhelmed or uncertain, there is a go-to person who
        has been in his/her shoes before.
      </li>
    </ul>
  </div>
</section>

<section class="section">
  <div class="wrapper stack" style="--measure: var(--max-width)">
    <h2>College Counseling</h2>
    <ol>
      <li>
        Students will receive support in navigating the complex college
        application process and the financial aid.
      </li>
    </ol>
    <h3>How:</h3>
    <ul>
      <li>
        Staff will work with students to build their applications and gather
        required documentation.
      </li>
      <li>
        Students will receive feedback and support on their personal statements.
      </li>
      <li>Staff will assist students in application for financial aid.</li>
    </ul>
  </div>
</section>