---
layout: layouts/page
title: Our Program
imagePath: /images/class-3.jpeg
imageAltText: "Kakuma students taking the SAT exam."
---

<section
  class="section stack"
  style="--measure: var(--max-inner-width)"
>
  <h1>Our Program</h1>
  <p>
    Elimisha Kakuma ("Educate Kakuma" in Swahili) is an intensive
    university-preparatory program designed to provide opportunities for high
    school graduates in Kakuma Refugee Camp. The program will help students
    prepare for university-level content and apply for university scholarships,
    thereby making higher education accessible. Founded by Kakuma's own,
    Elimisha believes that when students are provided with access to higher
    education, they are more likely to create a larger impact by empowering
    families and changing communities for the better.
  </p>
</section>

<section class="section dark">
  <div class="grid">
    <div class="stack">
      <h2>Academic Preparation</h2>
      <p>
        Elimisha Kakuma prepares students for university-level content in
        English by using a blended method targeting proficiency in the four
        language domains (reading, writing, listening, and speaking) and later,
        exam preparation.
      </p>

      <p>
        Students study in both a virtual setting, with online assignments and
        classes, and an on-site setting where they work together under the
        guidance of an on-the-ground facilitator who provides technical and
        logistical support. Students are also supported by university tutors
        from Virginia Tech and Macalester College.
      </p>
    </div>
    {% image "/images/class-4.jpg", "Elimisha Kakuma students working in class."%}
  </div>
</section>

<section class="section">
  <div class="grid">
    {% image "/images/community-2.jpeg",
    "A group photo of the Elimisha Kakuma
 students." %}
    <div class="stack">
      <h2>Community Building</h2>
      <p>
        Elimisha Kakuma students work together to support each other in
        improving academically and personally throughout the program.
      </p>
      <p>
        In addition, they work together to improve their communities through
        community service. Many of our students are teachers in schools in
        Kakuma Refugee Camp. They volunteer their time developing their
        communities through education, healthcare, and environmental
        sustainability.
      </p>
    </div>
  </div>
</section>

<section class="section dark">
  <div class="grid">
    <div class="stack">
      <h2>Mentorship</h2>
      <p>
        Students participate in one on one mentorship with current university
        students, including three of our co-founders who have lived in Kakuma.
        They receive coaching, guidance and consistent meetings with their
        mentors. The mentors were once in the students position, and provide
        both guidance and a relatable experience that guide the cohort. This
        part of the program strengthens the faith that students have in
        Elimisha, and helps students navigate the application process without
        fear of having to do it alone, and knowing someone else in their
        position did it too. The mentorship program also prepares the students
        for college life, how to be organized, get work done on time, seek help
        where needed, navigate college readings and become a good student in
        general.
      </p>
    </div>
    {% image "/images/students-selfie.jpeg",
    "Dudi taking a selfie with the students." %}
  </div>
</section>

<section class="section">
  <div class="grid">
    {% image "/images/zoom-3.png",
    "A photo of the students and Diing on Zoom." %}
    <div class="stack">
      <h2>College Counseling</h2>
      <p>
      Students receive support in navigating the complex college application
      process and financial aid requirements.
    </p>
      <p>
      Students are assisted in building their applications and gathering
      required documentation, receive feedback and support on their personal
      statement, and are supported in their applications for financial aid.
    </p>
    </div>
  </div>
</section>