---
layout: layouts/page
title: Our Students
---
<section class="students stack padding-bottom:var-pad" style="--measure: var(--max-inner-width); --pad: var(--s2);">
  <h2>Our Students</h2>
  <div class="grid" style="--column: 40ch; --pad: var(--s1);">
    {%- for student in collections.students %}
      {%- if student.data.currentStudent %}
        <div class="student stack" style="--w: 5; --h: 3;">
          {%-if student.data.image -%}
            {% set altText = ["Headshot of ", student.data.name] | join %}
            {% image student.data.image,
            altText,
            "frame" %}
          {% endif %}
          <h3>{{ student.data.name }}</h3>
          <read-more class="student__bio stack">
            {{ student.templateContent | safe }}
          </read-more>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>