---
layout: layouts/page
title: Who We Are
---

<div class="wrapper" style="--measure: var(--max-inner-width);">
  <section class="founders stack">
    <h2>Founders</h2>
    <div class="grid" style="--column: 40ch;">
      {%- for founder in staff.founders %}
        <div class="stack founder">
          {% set imagePath = ["", founder.image] | join %}
          {% set altText = ["Headshot of ", founder.name, "."] | join %}
          {% set cssClasses = "square" -%}

          {% image imagePath,
          altText %}

          <h3>{{ founder.name }}
            <span class="pronouns">({{founder.pronouns}})</span></h3>
          <div class="bio stack">{{founder.bio | safe}}</div>
        </div>
      {% endfor %}
    </div>
  </section>

  <section class="facilitators stack section">
    <h2>Facilitators</h2>
    <div class="cluster" style="--flow-space: var(--s2);">
      {%- for facilitator in staff.facilitators %}
        <div class="stack facilitator" style="--flow-space: var(--s-4);">
          {% set imagePath = ["", facilitator.image] | join %}
          {% set altText = ["Headshot of ", facilitator.name, "."] | join %}

          {% image imagePath,
          altText %}

          <h4>{{ facilitator.name }}</h4>
        </div>
      {% endfor %}
    </div>
  </section>

  <section class="interns stack section">
    <h2>Interns</h2>
    <div class="cluster" style="--flow-space: var(--s3);">
      {%- for intern in staff.interns %}
        <div class="stack intern" style="--flow-space: 0;">
          {% set imagePath = ["", intern.image] | join %}
          {% set altText = ["Headshot of ", intern.name, "."] | join %}

          {% image imagePath,
          altText %}

          <h4>{{ intern.name }}</h4>
          <p>{{ intern.school }}</p>
        </div>
      {% endfor %}
    </div>
  </section>

</div>