<footer class="footer">
  <div class="grid wrapper" style="--pad: 10ch;">
    <section class="stack" style="--column: 65%;">
      <h2>About Us</h2>
      <p>{{ site.longerSummary }}</p>
    </section>

    <section class="stack" style="--column: auto">
      <h2>Contact</h2>
      <div>
        <p aria-label="Contact phone number">612-619-9772</p>
        <p>
          <a href="mailto:elimishakakuma@gmail.com">elimishakakuma@gmail.com</a>
        </p>
      </div>
    </section>
  </div>
</footer>