<header class="wrapper cluster" style="--flow-space: var(--s-1)">
  <a href="/" class="text-transform:none h2 border-bottom:none">
    Elimisha Kakuma
  </a>
  {% include "partials/nav.njk" %}
</header>