<nav class="cluster stack-exception" style="--pad: var(--s0);">
  <ul class="cluster" style="--pad: var(--s-1);">
    {%- for item in navigation %}
      <li>
        <a
        class="{%- if (item.link | slug) === (page.url | slug) %}active{%-endif-%}"
        href={{item.link}}>{{item.text}}</a>
      </li>
    {% endfor %}
  </ul>
  <div class="nav__buttons cluster">
    <a class="button" rel="noreferrer" href="https://www.gofundme.com/f/elimisha-kakuma-higher-education-for-refugees">Donate</a>
    <a class="button" href="/contact">Volunteer</a>
  </div>
</nav>